.services {
  padding: 0 $pd-05 + 2;
  margin-bottom: $mg-08;
  .services__content {
    h2 {
      padding-bottom: $pd-04 - 1;
      font-weight: $fw-3;
      color: $color-black-4;
    }
    .services__carousel {
      position: relative;
      & > .owl-stage-outer + .owl-nav {
        & > .owl-prev {
          left: -2%;
          @include styleOwlnav(43%);
        }
        & > .owl-next {
          right: -2%;
          @include styleOwlnav(43%);
        }
      }
    }
    .item {
      position: relative;
      height: 345px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          opacity: 0.85;
        }
      }
      .services__info {
        position: absolute;
        width: 100%;
        top: 0;
        h4 {
          small {
            @include styleText($color-white, $fs-2 - 1, $fw-1);
            display: block;
            line-height: $line-height-1 - 2;
          }
          color: $color-white;
          padding: $pd-03 - 4;
        }
      }
    }
  }
}

@include responsive("small-1") {
  .services {
    margin-bottom: $mg-10;
    padding: 0 $pd-04 - 1;
    .services__content {
      .services__carousel {
        position: relative;
        & > .owl-stage-outer + .owl-nav {
          & > .owl-prev {
            left: -5%;
            @include styleOwlnav(43%);
          }
          & > .owl-next {
            right: -5%;
            @include styleOwlnav(43%);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .services {
    .services__content {
      .services__carousel {
        position: relative;
        & > .owl-stage-outer + .owl-nav {
          & > .owl-prev {
            left: -3%;
            @include styleOwlnav(43%);
          }
          & > .owl-next {
            right: -3%;
            @include styleOwlnav(43%);
          }
        }
      }
    }
  }
}
