.img-carousel {
  position: relative;
  .item{
      img{
          width: 100% !important;
          display: block !important;
      }
  }
  &:hover {
    .owl-prev {
      transform: translateX(125%);
      span {
        color: $color-black !important;
      }
    }
    .owl-next {
      transform: translateX(-70%);
      span {
        color: $color-black !important;
      }
    }
  }
  .owl-nav {
    margin-top: 0;
    .owl-prev {
      border-radius: 0 $border-radius-3 $border-radius-3 0;
      @include styleOwlnavView(-20%);
    }
    .owl-next {
      border-radius: $border-radius-3 0 0 $border-radius-3;
      @include styleOwlnavView(98%);
    }
  }
}
