/*Color*/

$color-white: #fff;
$color-white-1: #d4defb;
$color-gray: #62646a;
$color-gray-1: #bcbec2;
$color-gray-2: #858585;
$color-gray-3: #e9e9e9;
$color-gray-4: #b5b6ba;
$color-gray-5: #b2b2b2;
$color-gray-6: #eee;
$color-gray-7: #d6d6d6;
$color-gray-7: #555;
$color-gray-8: #f9f9f9;
$color-gray-9: #c5c6c9;
$color-gray-10: #7a7d85;
$color-gray-11: #f5f5f5;
$color-gray-12: #95979d;
$color-gray-13: #e4e5e7;
$color-gray-14: #f3ecec;
$color-green: #1dbf73;
$color-green-1: #168a53;
$color-green-2: #19a463;
$color-green-3: #1fd0d6;
$color-green-4: #f1fdf7;
$color-green-5: #0d084d;
$color-green-6: #584aff;
$color-green-7: #003912;
$color-green-8: #4a73e8;
$color-green-9: #023a15;
$color-black: black;
$color-black-1: #404145;
$color-black-2: #0e0e0f;
$color-black-3: #222325;
$color-black-4: #404145;
$color-black-5: rgba(58, 48, 44, 0.824);
$color-black-6: rgba(58, 48, 44, 0.705);
$color-orange: #ffc100;
$color-brown: #45091b;
$color-brown-1: #540e1f;
$color-brown-2: #7d1a00;
$color-pink: #b64762;



/*font size*/
$fs-1: 10px;
$fs-2: 15px;
$fs-3: 20px;
$fs-4: 25px;
$fs-5: 30px;
$fs-6: 45px;
$fs-7: 50px;
$fs-8: 55px;
$fs-9: 60px;
$fs-10: 35px;

/*font weight*/

$fw-1: 500;
$fw-2: 600;
$fw-3: 700;

/*Padding*/

$pd-01: 5px;
$pd-02: 10px;
$pd-03: 20px;
$pd-04: 25px;
$pd-05: 30px;
$pd-06: 35px;
$pd-07: 45px;
$pd-08: 32px;
$pd-09: 96px;
$pd-10: 55px;
$pd-11: 64px;
$pd-12: 76px;
$pd-13: 120px;
$pd-14: 70px;
/*margin*/
$mg-01: 5px;
$mg-02: 10px;
$mg-03: 15px;
$mg-04: 20px;
$mg-05: 25px;
$mg-06: 30px;
$mg-07: 35px;
$mg-08: 96px;
$mg-09: 90px;
$mg-10: 48px;
$mg-11: 70px;

/*position*/
$pt-01: 35px;
$pt-02: 113%;
$pt-03: 61%;
$pt-04: -4px;
$pt-05: 15px;
$pt-06: 20px;

/*Border Radius*/
$border-radius-1: 3px;
$border-radius-2: 40px;
$border-radius-3: 15px;

/*line height*/
$line-height-0: 56px;
$line-height-1: 22px;
$line-height-2: 16px;
$line-height-3: 44px;
$line-height-4: 39px;
/*letterspacing*/

$letter-spacing-1: 0.5px;


/*screen size*/

$breakpoints:(
    'extra-large':1200px,
    'large-1': 1160px,
    'large-2': 1060px,
    'large': 992px,
    'medium-2': 900px,
    'medium-3': 899px,
    'medium-1': 842px,
    'medium': 768px,
    'small': 576px,
    'small-1': 599px,
);
